@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500;700;800&display=swap');

.kol {
  background-color: #42414071;
  backdrop-filter: blur(2px);
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

body {
  background: url('../assets/ikn2.jpeg') center/cover no-repeat fixed;
  display: flex;
  color: white;
  /* height: 400vh; */
}

/*======= akhir ========*/

/* ===== SIDEBAR ===== */
.sidebar {
  background-color: rgba(30, 25, 60, 0.9);
  backdrop-filter: blur(10px);
  /* height:1vh;  */
  z-index: 1000;
  display: sticky;   

}

#sidebar-nav ul {
  margin-top: 30px;
}

.sidebar ul li a {
  color: #dadbdf !important;
}
.nav {
  width: 100%;
}

.menu i {
  font-size: 20px;
}

.logo {
  width: 100%;
  height: 100px;
}

hr {
  margin: 0;
  /* opacity:1; */
}

.border1 {
  border: none !important;
}

.text-light {
  color: #ccc;
}

.nav li a {
  width: 100%;
}

.nav li {
  width: 100%;
}

.menu li {
  margin-bottom: 10px;
}

.menu li a {
  color: #ddd;
  text-decoration: none;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  transition: background 0.3s;
}

.menu li a:hover,
.menu li a.active {
  background-color: rgba(255, 255, 255, 0.2);
}

/* ===== MAIN CONTENT ===== */

.main-cons{
  /* height: 500vh; */
}

.main-content{
  /* height:2000px; */
  height: auto;

}
.topbar {
  background-image: url('../assets/bg4.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  height: 65px;
} 

.profile a i {
  font-size: 28px;
  cursor: pointer;
}

/* ===== RIWAYAT SECTION ===== */
.riwayat-section {
  flex-wrap: wrap;
  background-color: #42414071;
  backdrop-filter: blur(2px);
  height:200vh;
  padding: 51px 30px 20px 30px;
}

.search-bar {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

.search-bar input {
  flex: 1;
}

.riwayat-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.riwayat-card {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s ease;
}

.riwayat-card:hover {
  background-color: rgba(0, 0, 0, 0.65);
}

.status {
  padding: 3px 10px;
  border-radius: 8px;
  font-size: 13px;
}

.status .pending {
  background-color: #ffc107 !important;
  color: black;
}

.status .success {
  background-color: #4caf50;
}

.status .ditolak {
  background-color: red !important;

}

footer {
  background-color: rgba(30, 25, 60, 0.9);
  text-align: center;
  padding: 10px;
  margin: 0;
  bottom: 0;
}

footer p {
  margin: 0;
}


.card{
  height: 250px;
}


@media screen and (max-width: 980px) {
  .logo {
    height: 60px;
    padding: 0 !important;
    margin: 10px 0 !important;
  }

  .main-content {
    width: 100%;
    margin-left: 50px;
  }

  .sidebar ul li a {
    display: flex;
    align-items: left !important;
    justify-content: left;
  }

  .nav {
    top: 0;
  }
}
