@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit';
  font-weight: 800;
}

/* ====================== BODY ====================== */
body {
  background: url('../assets/ikn2.jpeg') center/cover no-repeat;
  min-height: 100vh;
  color: #fff;
  scroll-behavior: smooth;
}

/* ====================== NAVBAR ====================== */
nav {
  background-image: url('../assets/bg4.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  opacity: 0.95;
  transition: background 0.3s ease;
  border: none;
  
  /* height: 65px; */
}
.navbar{
 
  padding: 0 ;
}

.navbar>.container-fluid {
  padding: 0 40px;
}

.logo img {
  height: 60px;
}

.logo-link img {
  height: 60px;
  transition: transform 0.2s ease;
}

.logo-link:hover img {
  transform: scale(1.05);
  cursor: pointer;
}


.nav-link a {
  font-size: 18px;
  font-weight: bold;
  color: #fff !important;
  transition: color 0.3s ease;
}

.nav-link a:hover {
  color: #f8dada !important;
}

.navbar-toggler {
  background-color: #fff;
  padding: 8px 14px;
  border-radius: 8px;
  border: none;
  color: #000;
  text-decoration: none;
}

.active:hover {
  color: #7c7878 !important;
}

/* ======== PROFILE BUTTON ======== */
/* .profile-btn { */
  /* margin-left: 15px; */
  /* width: 200px; */
/*   display: flex; */
/*   flex-direction: row; */
/* } */

.profile-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  transition: 0.3s ease;
  text-decoration: none;
}
.profile-icon:hover {
  background: rgba(255, 255, 255, 0.35);
  color: #fff;
}

main {
  background-color: rgba(88, 77, 111, 0.5);
}

/* ====================== DASHBOARD SECTION ====================== */
.dashboard-content {
  min-height: 100vh;
  width: 100%;
  /* background-color: rgba(88, 77, 111, 0.5); */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.dashcont {
  margin-top: 80px;
  height: auto;
  width: 85%;
  max-width: 1000px;
  background-color: rgba(148, 125, 125, 0.25);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  padding: 60px;
  backdrop-filter: blur(6px);
}

.wrap-dash {
  padding: 0;
  margin: 0;
  text-align: left;
}

.dashboard-content h1 {
  font-size: 2.8rem;
  font-weight: 800;
  margin-bottom: 30px;
}

.dashboard-content p {
  font-size: 1rem;
  font-weight: 400;
  max-width: 850px;
  margin: 40px 0;
  line-height: 1.6;
  text-align: justify;
}

.btn-primary {
  background-color: white;
  padding: 12px 28px;
  border-radius: 8px;
  border: none;
  color: black;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.55s ease, transform 0.4s ease-in;
}

.btn-primary:hover {
  background-color: #7c7878;
  color: aliceblue;
}

/* ====================== LAYANAN SECTION ====================== */
.layanan {
  font-size: 4rem;
    height: 100%;
    padding: 80px 20px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.layanan-dashboard {
  backdrop-filter: blur(6px);
  background-color: rgba(148, 125, 125, 0.356);
  height: 70%;
  width: 85%;
  border-radius: 20px;
  padding: 30px;
  max-width: 1000px;
  box-shadow: 10px 9px 39px 0px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: 10px 9px 39px 0px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 10px 9px 39px 0px rgba(0, 0, 0, 0.49);

}

.wrap-layanan {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrap-layanan h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 30px;
}

.wrap-layanan .btn {
  width: 80%;
  max-width: 500px;
  margin: 10px 0;
  border-radius: 9px;
  border: 2px solid rgb(116, 112, 112);
  transition: 0.3s;
}

.wrap-layanan .btn:hover {
  background-color: #bcb9b9;
}

/* ====================== FOOTER ====================== */
footer {
  background-color: #1c1c1c;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  color: white;
  margin: 0;
  font-size: 15px;
  font-weight: 500;
}

.wrap-icon {
  display: none;
}

.navMenu {
  color: rgb(255, 255, 255);
  height: 40px;
  font-size: 40px !important;
  font-weight: 800;
}

.btn1 {
  border: none;
  background-color: rgba(255, 0, 0, 0) !important;
  padding: 12px;
}

/* ====================== RESPONSIVE ====================== */
@media (max-width: 992px) {
  .nav-links {
    gap: 15px;
  }

 

  .dashboard-content h1 {
    font-size: 2rem;

  }

  .dashcont {
    /* border-radius: 0; */
    width: 90%;
    padding: 40px 30px;
    margin-top: 80px !important;
  }

  .wrap-layanan h2 {
    font-size: 1.8rem;
  }

  .wrap-icon {
    width: fit-content;
    display: flex;
    align-items: center;
    /* background:red; */
  }

  .icon-hide {
    display: none;
  }


  .layanan-dashboard {
    /* border-radius: 0; */
    width: 100%;
    padding: 50px 13px 20px 13px;
  }

  .wrap-layanan {
    font-size: small;
    padding: 6px 10px;

  }
}

@media (max-width: 576px) {
  .logo img {
    height: 50px;
  }

  .profile-btn .username {
    display: none;
  }

  .btn-primary {
    width: 100%;
  }
  .container-fluid {
    padding:0 20px !important;
}
}
