@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit';
    font-weight: 800;
}

/* body */
.koll{

    cursor: pointer !important; 
}
body {
    background: url('../assets/ikn2.jpeg') top/cover no-repeat;
    height: 130vh;
    width: 100%;
    /* background-size: 110%; */
}

.daftar , main {
    width: 100%;
    background-color: #3529477c;
    height: 100%;
    margin: 0;
}

form {
    padding: 20px;
    color: white;
}
/* logo back */
.back{
    font-size: 40px;
    position: absolute;
    left:0;
    cursor: pointer;
}
/* ========CARD======== */
.card {
    background-color: rgba(172, 183, 209, 0.319);
    border-radius: 20px;
    border: 1px solid white;
    backdrop-filter: blur(10px);
}

.card-body h3 {
    text-align: center;
    font-weight: bold;
    color: white;
}

p {
    color: white;
}
.loginBtn{
    /* background-color: rgb(31, 31, 31); */
    border: none;
}

a {
    text-decoration: none;
}

/* logo */
img {
    height: 150px;
}

/* footer */

footer {
    background-color: #3529477c;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

footer p {
    color: white;
    font-size: 14px;
    margin: 0;
}

/* ===========LUPA PASSWORD CSS============ */
.lupa {
    z-index: 100;
    position: absolute;
    width: 80%;
    height: 100%;
    margin-top:  160px;
    display: none;
    align-items: center;
}

.lupa-container {
    z-index: 3;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.moll {
    background: rgba(111, 110, 110, 0.528);
    backdrop-filter: blur(4px);
    border-radius: 9px;
    border: 3px solid rgb(208, 205, 205);
}
.bi-x{
    cursor:pointer;
}
/* ===============RESPONSIVE================= */
@media screen and (max-width: 980px) {
    body {
        height: 100vh;
    }

    #lupa {
        width: 100%;
    }

    .daftar {
        height: 100%;
    }

    img {
        height: 90px;
    }

    form {
        padding: 10px;
    }

    .card-body {
        padding: 10px;
    }

    .fs-8 {
        font-size: 0.8rem;
        padding: 0;
    }

    .col-md-6 {
        margin-top: 30px !important;
    }

    footer .fw-bold {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 500px) {
    body {
        height: 100vh;

    }

   
}
