@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit';
    font-weight: 800;
    scroll-behavior: smooth;
}

body {
    /* font-family: 'Outfit'; */
    background: url('../assets/ikn2.jpeg') center/cover no-repeat;
    height: 100%;
    color: white ;
    transition: background 0.3s ease;
    scroll-behavior: smooth;

}

/* =========NAVBAR========== */

nav {
    background-image: url(../assets/bg4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    /* height: 65px; */
   
}
.navbar{
    padding: 0;
}
.logo img {
    height: 60px;
    transition: transform 0.2s ease;
}

.logo:hover img {
    transform: scale(1.05);
    cursor: pointer;
}

.navbar-toggler {
    background-color: rgb(255, 255, 255);
    padding: 10px 16px;
    border-radius: 8px;
    border: none;
    color: black;
    text-decoration: none;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none !important;
    box-shadow: none !important;
}

.nav-link {
    cursor: pointer;
}

.nav-link a {
    font-size: 18px;
}


.nav-link a:hover {
    color: #fadbdbbd;
}

.navbar>.container-fluid {
    padding: 0 40px;
}

.btn1 {
    border: none;
    background-color: rgba(255, 0, 0, 0) !important;
    padding: 12px;
}

.navMenu {
    color: rgb(255, 255, 255);
    height: 40px;
    font-size: 40px !important;
    font-weight: 800;
}


.tombol:hover {
    background-color: rgb(107, 99, 99) !important;
    padding: 10px 16px;
    color: white !important;
    transition: all 0.4s ease;
    border: none;
    text-decoration: none;
}
.nav-item .tombol:hover{
    color:rgb(228, 156, 156) !important;
}
.nav-item a:hover{
    color: #615c5c !important;
}



/* =======MAIN CONTENT========== */
main {
    background-color: rgba(88, 77, 111, 0.5);
}

.dashboard-content {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.dashcont {
    margin-top: 90px;
    height: 70%;
    width: 85%;
    max-width: 1000px;
    background-color: rgba(148, 125, 125, 0.25);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    padding: 60px;
    backdrop-filter: blur(6px);
}

.wrap-dash {
    padding: 0;
    margin: 0;
    text-align: left;
}

.wrap-dash p {
    margin: 0;
    text-align: left;
    font-size: 1.3rem;
}

.dashboard-content h1 {
    font-size: 2.8rem;
    font-weight: 800;
    margin-bottom: 30px;
}

.dashboard-content p {
    font-size: 1rem;
    font-weight: 400;
    max-width: 850px;
    margin: 40px 0;
    line-height: 1.6;
    text-align: justify;
}

.tombolMasuk {
    /* background-color: white; */
    padding: 12px 24px;
    border-radius: 8px;
    border: none;
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.55s ease, transform 0.4s ease-in;
}

.tombolMasuk:hover {
    background-color: #7c7878;
    color: aliceblue;

}

.layanan {
    font-size: 4rem;
    height: 100%;
    padding: 80px 20px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
    /* background-color: rgba(88, 77, 111, 0.5); */
}

.layanan-dashboard {
    backdrop-filter: blur(6px);
    background-color: rgba(148, 125, 125, 0.356);
    height: 70%;
    width: 85%;
    border-radius: 20px;
    padding: 30px;
    max-width: 1000px;
    box-shadow: 10px 9px 39px 0px rgba(0, 0, 0, 0.49);
    -webkit-box-shadow: 10px 9px 39px 0px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: 10px 9px 39px 0px rgba(0, 0, 0, 0.49);
}

.wrap-layanan {
    font-size: 2rem;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.wrap-layanan .btn {
    width: 80%;
    margin: 10px 0;
    border-radius: 9px;
    border: 2px solid rgb(116, 112, 112);
    margin: 10px;
    max-width: 500px;
}

.wrap-layanan .btn:hover {
    background-color: #c6bcbc;
}

.wrap-layanan h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 30px;
  }


/* ============FOOTER======= */

footer {
    background-color: rgba(108, 85, 154, 0.6);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    color: white;
    margin: 0;
    font-size: 14px;
}

/* ===============RESOPONSIVE=========== */


@media screen and (max-width: 768px) {

    .logo {
        scale: 0.9;
    }

    .dashboard-content {
        /* margin-top: 90px; */
    }

    .dashboard-content h1 {
        font-size: 2.2rem;
    }

    .dashcont {
        /* margin-top: 20px; */
        width: 90%;
        padding: 40px 30px;
    }

    .wrap-dash {
        padding: 10px;
    }

    .layanan-dashboard {
        width: 90%;
        padding: 40px 13px 30px 13px;
    }

    .wrap-dash h1 {
        font-size: 1.8rem;

    }

    .fs-6 {
        font-size: 0.8rem;
    }

    .wrap-dash p {
        font-size: 1rem;
    }

    .wrap-layanan {
        font-size: small;
        padding: 6px 10px;

    }

    .wrap-layanan h2 {
        font-size: 1.8rem;
        text-align: center;
    }
    .kol{
        padding:20px 5px;
    }
}

@media screen and (max-width: 576px) {


    .container-fluid {
        padding:0 20px !important;
    }

}