@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Outfit';
      font-weight: 800;
}
body {
    background: url('../assets/ikn2.jpeg') center/cover no-repeat;
    height: 100%;

}
nav{
    background-image: url(../assets/bg4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
}
.navbar{
    padding:0 ;
    height: 65px;
}
.navbar-toggler{ 
    background-color: rgb(255, 255, 255);
    padding: 10px 16px;
    border-radius: 8px;
    border: none;
    color: black;
    text-decoration: none;
}
.nav-links a{
    font-size: 18px;
}
.nav-links a:hover{
    color: #fadbdbbd;
}
.navbar .container-fluid{

    padding: 0 40px;
}
.logo img{
    height: 60px;

}
.logo img:hover {
    transform: scale(1.05);
    /* cursor: pointer; */
}
.logo a i {
    font-size: 28px;
    cursor: pointer;
  }
  .profile a i {
    font-size: 28px;
    cursor: pointer;
  }
.iconPer{
    padding: 10px;
    background-color: rgba(240, 248, 255, 0.341);
    border-radius: 50%;
}
.text-center img{
    margin-top: 50px;
    height: 125px;
}
.dokumen1{
    background-color: #5d5b938d;
    
}
.card{
    background-color: rgba(59, 59, 60, 0.319);
     border-radius: 20px;
     border: 1px solid white;
}
form{
    color: white;
}
input.form-control{
    background-color: rgb(219, 218, 218);
}
/* .btn-success{
    border:1px solid rgb(21, 237, 89);
} */
/* avatar icons */

.profile-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    transition: 0.3s ease;
    text-decoration: none;
  }
  .profile-icon:hover {
    background: rgba(255, 255, 255, 0.35);
    color: #fff;
  }

  textarea{
    resize: none;
}
 
@media screen and (max-width: 576px) {


    .container-fluid {
        padding:0 20px !important;
    }

}