@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit';
   
}

body {
    background: url('../assets/ikn2.jpeg') center/cover no-repeat;
    height: 100%;

}
nav {
    background-image: url(../assets/bg4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;

}
.navbar{
    padding:0 ;
    height: 65px;
}

.navbar-toggler {
    background-color: rgb(255, 255, 255);
    padding: 10px 16px;
    border-radius: 8px;
    border: none;
    color: black;
    text-decoration: none;
}

.nav-links a {
    font-size: 18px;
}

.nav-links a:hover {
    color: #fadbdbbd;
}

.navbar .container-fluid {

    padding: 0 40px;
}

.logo img {
    height: 60px;

}
.logo img:hover {
    transform: scale(1.05);
}
.logo a i {
    font-size: 28px;
    cursor: pointer;
  }
  .profile a i {
    font-size: 28px;
    cursor: pointer;
  }
.text-center img {
    margin-top: 50px;
    height: 125px;
}
/* main cotent */
.dokumen1 {
    background-color: #5d5b938d;
}

.card {
    background-color: rgba(59, 59, 60, 0.319);
    border-radius: 20px;
    border: 1px solid white;
}

form {
    color: white;
}


.iconPer {
    padding: 10px 10px;
    background-color: rgba(240, 248, 255, 0.341);
    border-radius: 50%;
}

/* avatar icons */

.profile-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    transition: 0.3s ease;
    text-decoration: none;
  }
  .profile-icon:hover {
    background: rgba(255, 255, 255, 0.35);
    color: #fff;
  }
/* modal */
.modal-content{
    border-radius:6px;
    border:2px solid rgb(237, 237, 237);
    background-color: rgb(222, 215, 215);
    backdrop-filter: blur(3px);
    color:rgb(49, 47, 47);
}
.modal-header{
    border-bottom: 1px solid rgb(169, 143, 143);
}
.modal-footer{
    border-top: 1px solid rgb(78, 76, 115);
} 
.modal-header{
    background-color: rgb(208, 203, 203);
    padding:10px 20px
} 

textarea{
    resize: none;
}
input.form-control{
    background-color: rgb(219, 218, 218);
}
@media screen and (max-width: 576px) {


    .container-fluid {
        padding:0 20px !important;
    }

}
 